<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YelpCamp</title>
  <!-- font stylesheet -->

  <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1a5f7041d2.js" crossorigin="anonymous"></script>

  <!-- bootstrap stylesheet -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- custom css stylesheet -->
  <link rel="stylesheet" href="/stylesheets/main.css">
  <style>
    .thumbnail img {
      width: 100%;
    }

    .thumbnail {
      padding: 0;
    }

    .thumbnail .caption-full {
      padding: 9px;
    }

    .pull-right h4 {
      margin: auto auto;
    }

    body {
      background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a6186, #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a6186, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    /* nav{
    background-image: url(BrokenHearts.jpg);
} */
    #black {
      background-color: black;
    }

    #highlight {
      background-color: rgb(230, 230, 230);
    }

    .big-search-1 {
      border-radius: 15px;
      padding: 20px;
    }

    .big-button-1 {
      border-radius: 15px;
      padding: 10px;
      margin-top: 5px;
    }

    .styled-form {
      margin: center;
    }

    .margin-show-div {
      margin-bottom: 15px;
    }
  </style>

  <script>
    $(document).ready(function () {
      $("#loginModal").modal();
    });
  </script>
  <script>
    $('[data-spy="scroll"]').each(function () {
      var $spy = $(this).scrollspy('refresh')
    })
  </script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/campGround">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- =========== -->
          <!-- Search User -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/campGround/search">Search</a>
          </li> -->
          <!-- =========== -->
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if(!currentUser){ %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <% }else{ %>
              <li class="nav-item">
                <a class="nav-link" href="/campGround/new"><i class="fas fa-plus-square"></i> New Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-arrow-right"></i> <i class="fa fa-user-circle" aria-hidden="true"></i>
                  <%= currentUser.username%>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">LogOut</a>
              </li>
              <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container" style="margin-top: 10px;">
    <% if(error && error.length> 0){ %>
      <div class="alert alert-danger" role="alert">
        <%=error%>
      </div>
      <%} %>
        <% if(success && success.length> 0){ %>
          <div class="alert alert-success" role="alert">
            <%=success%>
          </div>
          <%}%>
  </div>