<%-include("../partials/header")%>


<div>
    
    <%=data.petName%>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/campGround/profile" method="POST">
                    <div class="form-group">
                        <label>Nick Name</label>
                        <input class="form-control" type="text" name="petname" value="">
                    </div>
                    <div class="form-group">
                        <label>Bio</label>
                        <input class="form-control" type="text" name="bio" value="">
                    </div>
                    <div class="form-group">
                        <label>Link</label>
                        <input class="form-control" type="url" name="link" value="">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" t>Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<%-include("../partials/footer")%>




